<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.oracle.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FenLeiServlet</display-name>
    <servlet-name>FenLeiServlet</servlet-name>
    <servlet-class>com.oracle.controller.FenLeiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FenLeiServlet</servlet-name>
    <url-pattern>/FenLeiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.oracle.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/qu404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/qu404.jsp</location>
  </error-page>
  <!--<filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.oracle.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>StaticFilter</display-name>
    <filter-name>StaticFilter</filter-name>
    <filter-class>com.oracle.filter.StaticFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StaticFilter</filter-name>
    <servlet-name>FenLeiServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>-->
  
  <servlet>
    <description></description>
    <display-name>ChooseUserServlet</display-name>
    <servlet-name>ChooseUserServlet</servlet-name>
    <servlet-class>com.oracle.controller.ChooseUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseUserServlet</servlet-name>
    <url-pattern>/ChooseUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.oracle.controller.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
</web-app>